<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
   
    <title>Motor Tracking App</title>
    <% include ./partials/header.ejs %>
 
   
  </head>
  <body>

      <% include ./partials/nav %>

    <div class="container-fluid"><%- body %></div>

    <!-- <% include ./partials/footer %> -->
  </body>
</html>
