<script src='/static/mapbox-gl.js'></script>
<link href='/static/mapbox-gl.css' rel='stylesheet' />


<style>
  .map {
    height: 600px;
  }
</style>
<p id="demo"></p>
<span id="user" class="lead mb-3"> <%= user.name %></span>

<span id="mapConfig" style="display : none">
  <%= mapConfig.distance2setMaker %></span>

<img id="userimagecard" src="" />
<%= user.userimage %>

<span id="userimage" class="" style="display : none">
  <%= user.userimage %>
</span>
<button id="myBtn">Save</button>
<button id="myBtnLoad">Load</button>

<div id="map" class="map"></div>

<style>
  .marker {
    /* background-image: url("@{userimage}"); */
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
  }

  .mapboxgl-popup {
    max-width: 200px;
  }

  .mapboxgl-popup-content {
    text-align: center;
    font-family: "Open Sans", sans-serif;
  }

  .mapboxgl-popup {
    max-width: 400px;
    font: 12px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
  }
</style>


<script src='/static/map_logic.js'></script>
